* {
    font-family: 'Roboto', sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #F3F3F3;
}

.wrapper {
    max-width: 500px;
    margin: auto;
}

#navbar {
    height: 70px;
    width: 100%;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    color: #222;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
}

.container-titlebar {
    display: flex;
    align-items: center;
    margin: 75px 0 10px 0;
    padding: 0 40px;
}

.container-title {
    font-size: 24px;
}

#add-contact-btn {
    margin-left: auto;
    color: #222;
    font-size: 16px;
}

.window {
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
    width: 100%;
    background-color: white;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(0, 0, 0, .30);
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(0, 0, 0, .30);
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: rgba(0, 0, 0, .30);
}

#search {
    width: calc(100% - 80px);
    background-color: #EAEAEA;
    border: none;
    margin: 0;
    padding: 0;
    outline: none;
    font-size: 16px;
    height: 70px;
    padding: 0 40px;
    color: #222;
}

.contact {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
}

.contact + .contact {
    border-top: 1px solid rgba(0, 0, 0, .1);
}

.contact-left {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
}

.contact-right {
    margin-right: 40px;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.contact-right a {
    color: #222;
}

.contact-name {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #222;
}

.contact-detail {
    font-size: 14px;
    color: #A0A0A0;
}

.no-link {
    text-decoration: none;
    pointer-events: none;
    cursor: default;
}

/* ------ Edit/Add person ------ */
#edit-container {
    padding: 20px 40px;
    width: calc(100% - 80px);
    display: flex;
    flex-direction: column;
}

#edit-container input {
    width: calc(100% - 40px);
    height: 45px;
    background-color: #EFEFEF;
    border: none;
    font-size: 16px;
    padding: 0 20px;
    outline: none;
}

#edit-container input + input {
    margin-top: 10px;
}

.edit-btns {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.edit-btns a {
    color: #222;
    font-size: 16px;
}

.edit-btns a + a {
    margin-left: 15px;
}