{% extends 'phonebookapp/base.html' %}
{% block content %}
<div class="wrapper">
    <div class="container-titlebar">
        <div class="container-title">Dodaj adres email</div>
    </div>
    <form class="window" id="edit-container" action="../add_email/" method="POST">
        <input required autocomplete="off" type="email" name="email" id="email" placeholder="Adres email">
        <div class="edit-btns">
            <input type="submit" value="Dodaj">
            <a href="../..">Anuluj</a>
        </div>
    </form>
</div>
{% endblock %}