{% extends 'phonebookapp/base.html' %}
{% block content %}
<div class="wrapper">
    <div class="container-titlebar">
        <div class="container-title">Dodaj numer telefonu</div>
    </div>
    <form class="window" id="edit-container" action="../add_phone/" method="POST">
        {% csrf_token %}
        <input required autocomplete="off" type="text" name="phone" id="phone" placeholder="Numer telefonu">
        <div class="edit-btns">
            <input type="submit" value="Dodaj">
            <a href="../..">Anuluj</a>
        </div>
    </form>
</div>
{% endblock %}