{% extends 'phonebookapp/base.html' %}
{% block content %}
<div class="wrapper">
    <div class="container-titlebar">
        <div class="container-title">Edytuj osobę</div>
    </div>
    <form class="window" id="edit-container" action="../edit/" method="POST">
        <input required autocomplete="off" type="text" name="name" id="name" placeholder="Imię" value="{{ name }}">
        <input required autocomplete="off" type="text" name="surname" id="surname" placeholder="Nazwisko" value="{{ surname }}">
        <div class="edit-btns">
            <input type="submit" value="Zapisz">
            <a href="../..">Anuluj</a>
        </div>
    </form>
</div>
{% endblock %}